<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TeX</string>
	<key>CFBundleGetInfoString</key>
	<string>10.5.13 (3398), copyright © Bare Bones Software, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.barebones.bblm.tex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.5.13</string>
	<key>CFBundleSignature</key>
	<string>BBLM</string>
	<key>CFBundleVersion</key>
	<string>3398</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>com.barebones.ProductBuildNumber</key>
	<string>3398</string>
	<key>com.barebones.bblm.TeX.languagesupport</key>
	<dict>
		<key>TeX </key>
		<dict>
			<key>SectionalCommandList</key>
			<array>
				<string>part</string>
				<string>section</string>
				<string>subsection</string>
				<string>subsubsection</string>
				<string>chapter</string>
				<string>subchapter</string>
				<string>subsubchapter</string>
			</array>
		</dict>
	</dict>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMCommentLineDefault</key>
			<string>%</string>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<false/>
			<key>BBLMLanguageCode</key>
			<string>TeX </string>
			<key>BBLMLanguageDisplayName</key>
			<string>TeX</string>
			<key>BBLMMainFunctionName</key>
			<string>TeXMachO</string>
			<key>BBLMPredefinedNameList</key>
			<array>
				<string>\begin</string>
				<string>\end</string>
				<string>\part</string>
				<string>\section</string>
				<string>\subsection</string>
				<string>\subsubsection</string>
				<string>\chapter</string>
				<string>\subchapter</string>
				<string>\subsubchapter</string>
				<string>\paragraph</string>
				<string>\subparagraph</string>
				<string>\author</string>
				<string>\date</string>
				<string>\documentclass</string>
				<string>\maketitle</string>
				<string>\title</string>
				<string>\usepackage</string>
				<string>\evensidemargin</string>
				<string>\footskip</string>
				<string>\headheight</string>
				<string>\headsep</string>
				<string>\oddsidemargin</string>
				<string>\textheight</string>
				<string>\textwidth</string>
				<string>\topmargin</string>
				<string>\start</string>
				<string>\stop</string>
				<string>\verb</string>
				<string>\label</string>
				<string>\def</string>
				<string>\newcommand</string>
				<string>\renewcommand</string>
				<string>\providecommand</string>
				<string>\newenvironment</string>
				<string>\renewenvironment</string>
				<string>\big</string>
				<string>\Big</string>
				<string>\bigg</string>
				<string>document</string>
				<string>itemize</string>
				<string>align</string>
				<string>alignat</string>
				<string>displaymath</string>
				<string>equation</string>
				<string>falign</string>
				<string>gather</string>
				<string>math</string>
				<string>multline</string>
			</array>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.tex</string>
				</dict>
			</array>
			<key>BBLMSupportsCFStringKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
